<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie display</title>
    <link rel="stylesheet" href="display3.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet" type="text/css">

</head>
<body>
    
  <nav class="topnav">
    <p class="title">MOVIE<span class="titlespan">finder</span></p>
   
    <div class="searchbar">
       <img src="../airontMoviesApp/images/search.svg" class="eye-icon">
       <input type="text" placeholder="Search movies">
    </div>
    <div class="logout">
       <a href="#logout">Log out</a>
       <img src=" ../airontMoviesApp/images/user.svg" class="eye-icon">
    </div>
  </nav>

  <div class="featured-movie">
       <div class="featured-card" >
        <img class="card-img-top" src=# alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

  </div>
  <div class="views">
        
          <h2>Most watched movies</h2>
        <div class="change-view"> 
          <button>
          <img src="../airontMoviesApp/images/view3cards.svg" >
         </button>
          <button>
            <img src="../airontMoviesApp/images/view1card.svg">
          </button>
        </div>
        
  </div>
  <div class="cards-container" id="cards-container">
    <div class="card-content">

    </div>

</div>
    
    <script src="display3.js"></script>
</body>

</html>