<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet" type="text/css">

    <title>Forgot</title>
</head>
<body>
  
     <div class="wrapper">
      <p class="title"><span>MOVIE</span></p>
      <p><span class="titlespan">finder</span> </p>

      <div class="container">  
            <h1 class="header">Forgot your password?   </h1> 
            <h2 class="subheader"> That's no fun. Enter your email and we'll send you instructions to reset your password. </h2>
          
       <form  class="form">
         <div class="email">
           <input type="email" name="email" id="email" placeholder=" Email" required>
         </div>
                
         
           <button id="send-email" type="submit" class="submit">Email some help </button>
       
        
        
    </form>

    </div>

  </div>
 
</body>
</html>